* {
	font-family: 'Rubik';
	font-style: normal;
	/* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

body {
	height: 100%;
	margin: 0;
	display: grid;
	place-content: center;
	gap: 1em;
	background: #6441A5;
}

twisty-player {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60%;
	height: 60%;
	transform: translate(-50%, -50%);
	z-index: -9999;
	vertical-align: middle;
	background: #6441A5;
}

.topLeft {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 1.25;
	color: #FFF;
	padding-top: 1vh;
}

.top-header {
	display: block;
	margin: 0;
	margin-bottom: 0vh;
	padding: 0;
	font-size: 6.5vh;
}

.user-item {
	margin: 0;
	padding: 0;
	font-size: 3vh;
}

.topRight {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	line-height: 1.25;
	padding-top: 1vh;
}

.topRight p, .userTurn p {
	margin: 0;
	color: #FFF;
	font-size: 8.5vh;
}

.userTurn {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	white-space: nowrap;
}
