* {
	font-family: 'Rubik';
	font-style: normal;
	/* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

body {
	height: 100%;
	margin: 0;
	display: grid;
	place-content: center;
	gap: 1em;
	background: #6441A5;
}
  
twisty-player {
	position: fixed;
	width: 60%;
	height: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	background: #6441A5;
}

.topRight {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
  
.userTurn {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	white-space: nowrap;
}

.topRight p, .userTurn p {
	color: #FFF;
	margin: 0;
	font-size: 8.5vh;
}
  