* {
	font-family: 'Rubik';
	font-style: normal;
	/* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

html,
body,
twisty-player {
	position: fixed;
	width: 85%;
	height: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	background: #6441A5;
}

#timeSinceSolved {
	color: #FFF;
	position: fixed;
	top: -15vh;
	right: -23vh;
	font-size: 10vh;
	font-weight: 400;
}

#moveCount {
	color: #FFF;
	position: fixed;
	top: -5vh;
	right: -23vh;
	font-size: 10vh;
	font-weight: 400;
}

/* Bottom Centered only works with relative position? */
#userTurn {
	color: #FFF;
	position: relative;
	text-align: center;
	bottom: -74vh;
	font-size: 7vh;
	font-weight: 400;
}